img{
    width: 300px;
    height: 350px;
    border-radius: 5%;
}

h1{
    font-size: 30px;
    color: #3f0a14;
}

p{
    font-size: 25px;
}

.gryffindor, .Gryffindor{
    color: #8b0000;
    border: 5px solid #8b0000;
}

.Gryffindor{
    border: none;
}

.slytherin, .Slytherin{
    color: #1a472a;
    border: 5px solid #1a472a;
}

.Slytherin{
    border: none;
}

.hufflepuff, .Hufflepuff{
    color: #ffdb00;
    border: 5px solid #ffdb00;
}

.Hufflepuff{
    border: none;
}

.ravenclaw, .Ravenclaw{
    color: #0e1a40;
    border: 5px solid #0e1a40;
}

.Ravenclaw{
    border: none;
}