.App, .allStudents {
  text-align: center;
}

button{
  border: none;
  border-radius: 10%;
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: #581022;
  color: #f1c235;
}

.App-header, .allStudents {
  background-color: #734d3b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: #3f0a14;
}
